* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 13px;
}
::-webkit-scrollbar-track {
    background: #e4e4e4;
}
::-webkit-scrollbar-thumb {
    background: rgba(22, 37, 36, 0.644);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover
{
    background: rgba(46, 61, 60, 0.644);
}
.container {
    width: 100%;
    height: 100%;
}
.back {
    height: 100%;
    width: 100%;
    background: linear-gradient(0,#fff27d, #f47df8);


/*
background-image: url("https://images.pexels.com/photos/2679814/pexels-photo-2679814.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
background-position: center;
background-size: cover;*/
}
header {
    height: 170px;
}
.profile {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin-top: 30px;
    box-shadow: 0 3px 30px rgba(64, 136, 136, 0.671) ;
    background-image: url("https://images.pexels.com/photos/12991074/pexels-photo-12991074.jpeg?auto=compress&cs=tinysrgb&w=300");
    background-size: cover;
    background-position: center;
}
.description {
    text-align: center;
}
.links {
    padding: 30px;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.lnk{
    height: 100%;
    width: 100%;
    border-radius: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 20px 1px rgba(7, 22, 16, 0.534) ;
    background-color: #e7e7e721;

}

a {
    height: 50px;
    width: 60%;
    cursor: pointer;
    border-radius: 50px;
    text-decoration: none;
    color: black;
    margin: 15px 0;
}
a:hover {
    box-shadow: 0 3px 20px 1px rgba(12, 26, 20, 0.178);
}
.lnk p {
    backdrop-filter: blur(9px) brightness(110%) saturate(100%);
    -webkit-backdrop-filter: blur(9px);
    border-radius: 50px;
    height: 100%;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
span {
    padding-left: 15px;
}
