*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  background: linear-gradient(to right, rgb(13, 57, 73), rgb(2, 123, 150));
}
.titulo{
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  background: linear-gradient(to right, rgb(13, 57, 73), rgb(2, 123, 150));
  color: #fff;
  box-shadow: rgb(18, 36, 39) 7px 6px 30px;
}

.calculadora{
    display:block;
    margin:100px auto;
    margin-bottom: 30px;
    padding:0px;
    background: linear-gradient(to right, rgb(13, 57, 73), rgb(2, 123, 150));
    width: 380px;
    height:550px;
    border-radius: 25px;
    box-shadow: 5px 4px 6px 3px rgba(8, 46, 62, 0.756);
  }
  .calculadora td button{
    display:block;
    width:72px;
    height: 70px;
    font-size: 25px;
  }
  td{
    padding: 10px;
  }
  
  #resultado{
    display:block;
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    width:353px;
    height: 100px;
    line-height: 100px;
    background-color:#fff;
    border-radius: 40px;
    box-shadow: 5px 5px 10px -3px black;
    outline: inherit;
    overflow: auto;
  }
  button{
      background-color: #fff;
      border-radius: 50px;    
      box-shadow: 5px 5px 10px -3px black;
    }
  button:hover{
    border: 3px solid;
    border-color: rgb(1, 181, 178) ;
    cursor: pointer;
  }