*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: 100vh;
    background-color: rgb(129, 158, 157);
}
.rad_to_grados{
    width: 15rem;
    height: 15rem;
    background-color: rgb(233, 214, 186);
    box-shadow: 1px 1px 10px rgb(117, 109, 109);
}