@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300&family=Nothing+You+Could+Do&display=swap');
/*
'Nothing You Could Do', cursive

'Josefin Sans', sans-serif
*/

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
.games-cont {
    width: 100vw;
    height: 100Vh;
    display: grid;
    grid-template-rows: 65px 300px 1fr;
}
.image {
    background-image: url("https://images.unsplash.com/photo-1601758125946-6ec2ef64daf8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=388&q=80");
/*https://images.pexels.com/photos/3631659/pexels-photo-3631659.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1*/
}
