* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');

:root {
    /*pastel palette*/
    --blue: #BBD0FF;
    --lavander: #B8C0FF;
    --purple: #C8B6FF;
    --Mauve: #E7C6FF;
    --pink: #FFD6FF;
}
.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 85% 15% / 15% 85%;
    background: linear-gradient(180deg,var(--lavander), var(--Mauve));
    font-family: 'Montserrat', sans-serif;
}
.nav {
}
.navigation {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.profile {
    width: 30px;
    height: 30px;
    border-radius: 50px;
}
.navigation div {
    margin: 0 2px 35px 2px;
}
#user_profile,#home,#playlist_home,#search_home,#createBtn {
    cursor: pointer;
}

.dash {
    overflow-y: scroll;
}
.dash-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.head-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.title {
    padding-bottom: 25px;
}
.title h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 2.6rem;
    display: flex;
    align-items: center;
}
.title h1 p {
    font-size: 25px;
    padding-left: 5px;
}
.playlist-list {
    margin: 2px;
    padding: 2px;
}
.playlist-card {
    position: relative;
    cursor: pointer;
    width: 50vw;
    height: 90px;
    box-shadow: 3px 0 15px rgba(128, 128, 128, 0.651);
    display: grid;
    grid-template: 1fr / 90px 2fr ;
    margin-bottom: 5px;
}

.playlist-banner {
    background-color: #ebbdeb;
    grid-area: 1/1/3/1;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr ;
}
.f1 {
    grid-area: 1/1/2/2;
}
.f2 {
    grid-area: 2/2/3/3;
}
.f3 {
    grid-area: 1/2/2/3;
}
.f4 {
    grid-area: 2/1/3/2;
}
.play {
    z-index: 5;
    position: absolute;
    top: 10px;
    left:15px;
}
#playbtn {
    margin: 0;
    padding: 0;
    background-color: transparent;
}
.controls {
    grid-area: 2/1/3/3;
    border: 1px solid rgba(128, 128, 128, 0.651);
    z-index: 5;
}
.music-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.head-playlist {
    position: relative;
    display: flex;
    width: 100%;
    height: 110px;
}
.back {
    width: 60px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid rgba(128, 128, 128, 0.651);
}
.name {
    width: 75%;
    height: 50px;
    position: absolute;
    top: 40px;
    left: 0;
    margin: 4px;
}
.name p {
    font-size: 2.2rem;
}
.songs-list {
    margin: 2px;
    padding: 2px;
}
.song-card {
    position: relative;
    cursor: pointer;
    width: 70vw;
    height: 90px;
    box-shadow: 3px 0 15px rgba(128, 128, 128, 0.651);
    grid-template: 1fr / 90px 2fr ;
    margin-bottom: 5px;
}
.song-banner {
    width: 35%;
    height: 100%;
    border: 1px solid rgba(128, 128, 128, 0.651);
    position: absolute;
    top: 0;
    left: 0;
}
.song-name {
    width: 50%;
    height: 30%;
    position: absolute;
    top: 5px;
    left: 110px;
    font-size: 0.9rem;
}
.song-artist {
    width: 50%;
    height: 30%;
    position: absolute;
    top: 35px;
    left: 110px;
    font-size: 0.8rem;
}
.song-duration {
    width: 40%;
    height: 20%;
    position: absolute;
    bottom: 5px;
    left: 110px;
}