*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Caladea', serif;
    color: rgb(223, 223, 223);
}
.container{
    width:auto;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    width: 50vh;
    height: 350px;
    background-image:linear-gradient(45deg, rgba(21, 81, 83, 0.904),rgba(0, 3, 51, 0.883));
    box-shadow:1px 2px 10px 3px rgba(104, 111, 114, 0.692);
}
.card:hover{
    box-shadow:1px 2px 10px 3px rgba(1, 39, 42, 0.568);
    cursor: default;
}
.head{
    margin: 2px;
    padding: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.bimg{
    background-color: rgba(253, 252, 252, 0.835);
    width: 100px;
    height: 100px;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:1px 2px 10px 2px rgba(65, 65, 65, 0.431);
    margin: 2px;
    padding: 2px;
    position: relative;
    top: -10px;
}
.pimg{
    background-image: url(/perm_identity_black_24dp.svg);
    background-size: cover;
    width: 75px;
    height: 75px;
    opacity: 0.5;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info h1{
    font-size: 1.4rem;
    margin: 1px;
    padding: 2px;
    color: rgb(235, 235, 235);
}
#job{
    margin: 2px;
    padding: 1px;
}
.skill{
    display: flex;
    margin: 2px;
    padding: 1px;
    position: relative;
    top: 10px;
}
.skill p{
    margin: 2px;
    padding: 2px;
    border: 1px solid rgba(147, 203, 229, 0.082);
    color: rgba(255, 255, 255, 0.822);
    background-color: rgba(25, 83, 110, 0.24);
    box-shadow: 1px 2px 8px rgba(14, 48, 56, 0.322);
}
.skill p:hover{
    border: 1px solid rgba(154, 198, 209, 0.5);
    cursor: default;
}
.social{
    display: flex;
}
.social .about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1px 6px;
    padding: 1px 4px;
}
#F{
    font-size: 1rem;
    position: relative;
    top: -10px;
    margin: 2px;
    padding: 5px 15px;
    border: 1px solid rgba(147, 203, 229, 0.082);
    color: rgba(255, 255, 255, 0.822);
    background-color: rgba(24, 32, 73, 0.24);
    box-shadow: 1px 2px 8px rgba(14, 48, 56, 0.582);
}
#F:hover{
    border: 1px solid rgba(154, 198, 209, 0.5);
    cursor: pointer;
}