*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    font-size: 25px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10rem 0;
}
.container h1{
    background-color: rgba(197, 189, 189, 0.089);
    color: rgb(0, 0, 0);
    box-shadow: 0 0 5px rgba(119, 119, 119, 0.281);
    border-radius: 20px;
    padding: 5px 5px;
    margin: 2rem;
}
#numb{
    padding: 0.4rem 0.7rem;
    box-shadow: 0 0 5px rgba(119, 118, 118, 0.486);
    border-radius: 20px;
}
.btn{
    margin: 2rem;
}
.btn button{
    border: none;
    background-color: #fff;
    font-size: 1rem;
    padding: 0.6rem;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(119, 119, 119, 0.534);
}
.btn button:hover{
    box-shadow: 0 0 6px rgba(39, 39, 39, 0.808);
}
